
footer {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #880404;
}  


.home-container {
  margin: 30px;
  background: #f0e7e7;
  padding: 25px 30px;
  border-radius: 8px;
  margin-top: 70px;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.hero-image img {
  margin-top: 30px;
  max-width: 1900px;
  height: 600px;
  align-items: center;
  margin-left: 40px;
}
.hero-description {
  flex: 1;
  font-size: 12px;
  color: #333;
  line-height: 1.2;
}

.hero-description h2,
.hero-description h3 {
  color: #2c3e50;
  margin-top: 0;
  font-size: 10px;
}
.features{
  flex-direction: row;
  align-items: flex-start;
  font-size: 28px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.features h2{
  color: rgb(104, 6, 180);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 43px;
  margin-top: 30px;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-description p{
  margin-top: 20px;
  font-size: 32px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-description ul {
  padding-left: 20px;
}

.hero-description ul li {
  margin-bottom: 8px;
}
