body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #e7e4f5;
  color: #9b4c4c;
}
.title,h1{
  color: #183047;
  font-size: 65px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.title,p{
 color: #061726;
  font-size: 75px;
  margin-top: 10px;
  margin-bottom: 10px; 
}
.title, h2 {
  margin-top: 10px;
  color: #183047;
  font-size: 65px;
  margin-left: 28px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}
p{
    color: #8a3838;
    font-size: 35px;
    margin-left: 25px;
    margin-top: 10px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home-container {
   margin: 30px;
  background: #ddd3d3;
  padding: 25px 30px;
  border-radius: 8px;
  margin-top: 70px;
}

nav {
  background-color: #a50909cb;
  padding: 10px 25px; 
  padding-top: 25px;
  padding-bottom: 35px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-image img {
  margin-top: 30px;
  max-width: 1930px;
  height: 420px;
}
nav h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top:  0;
}

nav a {
  color: rgb(239, 227, 199);
  text-decoration: none;
  font-weight: 250;
  margin-left: 20px;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #d5b3f3;
  text-decoration: none;
}

input[type="text"],
input[type="email"],
select,
textarea {
  padding: 10px;
  font-size: 20px;
  height: 70px;
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #444343;
  border-radius: 4px;
  transition: border 0.2s;
}
h4{
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #8a3838;
}
input:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #e73832;
    color: #18222c;
  border: none;
  padding: 10px;
  margin-left: 20px;
  margin: 15px;
  border-radius: 6px;
  font-size: 25px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #6500b3;
}

.task-list,
.project-list,
.team-list {
  list-style: none;
  padding: 20;
  margin: 30px 0;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{
  font-size: 28px;
   color: #672e2e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
li {
 
 border: 1px solid #000000; 
  padding: 12px 16px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  color: #672e2e;
  justify-content: space-between;
  align-items: center;
} 

 ol{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 20px;
}
li strong {
  font-size: 26px;
  margin-top: 10px;
   justify-content: space-between;
  color: #374554;
}
small{
  font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: 10px;
   justify-content: space-between;
  
 }
div , small{
  font-size: 27px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: 8px;
     gap: 40px;
     line-height: 1.5;
     margin-bottom: 10px;
   justify-content: space-between;
   margin-left: 10px;
}
li span {
  margin-left: 10px;
  color: #555;
}

.form-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-group input {
  flex: 1;
}

.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 5px;
  font-weight: 500;
}

.success {
  color: green;
  font-weight: 500;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: #777;
  font-size: 14px;
}
.card {
  background: #571e1e;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}
.recharts-wrapper{
 font-size: 25px;
    position: relative;
    cursor: default;
    width: 400px;
    height: 300px;;
}  
.recharts-tooltip-label{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




 

.user-report {
  margin: 10px auto;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f4f0ff;
  width: 90%;
}

.user-report h3 {
  font-size: 26px;
  margin: 10px 0 15px 0;
  color: #4a2c2c;
}

.user-report p {
  margin: 6px 0;
  font-size: 25px;
  line-height: 0.9;
  color: #c82929;
}

.user-report p strong {
  font-size: 23px;
  color: #4d2323;
}









